URL_MONGO_ATLAS="mongodb+srv://user:contra135@cluster0.emeikir.mongodb.net/?retryWrites=true&w=majority&dbName=ProyectFinal"
PORT=3000 
MODO="FORK"
GMAIL_USER="user123@gmail.com"
GMAIL_PASS="gdsdfegaxdusffdo"
GMAIL_NAME="Fernando"
TWILIO_AUTH="AC412345678da5c774096a8fdb1eeabf6c"
TWILIO_PASS="deca68fdf56sdfgf4a237e8b7d9f60c7"
TWILIO_CEL="+12334455677"
TWILIO_CEL_ADMIN="+5491122223333"
TWILIO_CEL_WSP="+1415453456"
PERSISTENCIA="File"
NODE_ENV="DEV"
SERVICE_EXT="NO"
TIME_SESSION=5
TOKEN_SECRET_WORD="secret_word"