<div class="container my-5">
  <div class="jumbotron">
    <h1>Registro de Usuario</h1>
    <br />
    <form
      class="form"
      action="/login/register"
      method="post"
      role="form"
      autocomplete="off"
      enctype="multipart/form-data"
    >

      <div class="form-group">

        <label for="register_gender" class="label">Elija tipo Usuario:(si podra
          o no responder al chat como sistema o hacer consulta)</label>
        <input type="radio" name="typeUser" checked="true" value="user" />
        <label for="register_userType">user</label>
        <input type="radio" name="typeUser" value="admin" />
        <label for="register_modType">admin</label>

        <input
          id="username"
          name="username"
          placeholder="email,ej: perez@gmail.com"
          class="form-control"
          type="email"
          required
        />

        <input
          id="password"
          name="password"
          placeholder="password"
          class="form-control"
          type="password"
          required
        />
        <input
          id="passwordConf"
          name="passwordConf"
          placeholder=" confirme password"
          class="form-control"
          type="password"
          required
        />
        <input
          id="name"
          name="name"
          placeholder="nombre"
          class="form-control"
          type="text"
          required
        />

        <input
          id="address"
          name="address"
          placeholder="direccion"
          class="form-control"
          type="text"
          required
        />
        <input
          id="age"
          name="age"
          placeholder="edad"
          class="form-control"
          type="number"
          required
        />

        <input
          id="telephone"
          name="telephone"
          placeholder="telefono, ej: +541122222222"
          class="form-control"
          type="text"
          required
        />
        <label for="myFile">Elija su foto de perfil</label>
        <input type="file" name="myFile" required /><br />
      </div>

      <div class="form-group">
        <input class="btn btn-success my-3" type="submit" value="Register" />
      </div>
    </form>

    <hr />

    <div class="text-left">
      <button class="btn btn-success my-3" onclick="location.href ='/login'">Ir
        a Login</button>
    </div>
  </div>
</div>